<app-progress-bar *ngIf="loading"></app-progress-bar>
<br>

<form *ngIf="!loading" class="row g-3 mx-5 my-5" [formGroup]="form" (ngSubmit)="create()">
    <legend class="fw-bold text-light">Agregar Personal</legend>
    <div class="col-md-6" [class.has-danger]="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
         <label class="form-label label-text text-light" for="nombre">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control bg-dark text-light" [class.is-invalid]="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched"
            placeholder="Ingrese nombre" id="nombre" maxlength="20">
            <div class="invalid-feedback">El campo nombre es requerido</div>
    </div>

    <div class="col-md-6">
        <label class="form-label label-text text-light" for="nombre">Apellido</label>
        <input formControlName="apellido" type="text" class="form-control bg-dark text-light"
            [class.is-invalid]="form.get('apellido')?.hasError('required') && form.get('apellido')?.touched"
            placeholder="Ingrese apellido" id="apellido" maxlength="20">
        <div class="invalid-feedback">El campo apellido es requerido</div>
    </div>

    <div class="col-md-6">
        <label class="form-label label-text text-light" for="dni">Dni</label>
        <input formControlName="dni" type="text" class="form-control bg-dark text-light"
            [class.is-invalid]="form.get('dni')?.hasError('required') && form.get('dni')?.touched"
            placeholder="Ingrese dni" id="dni" maxlength="10">
        <div class="invalid-feedback">El campo dni es requerido</div>
    </div>

    <div class="col-md-6">
        <label class="form-label label-text text-light" for="telefono">Telefono</label>
        <input formControlName="telefono" type="text" class="form-control bg-dark text-light"
            placeholder="Ingrese telefono" id="telefono" maxlength="15">

    </div>

    <div class="col-md-6">
        <label class="form-label label-text text-light" for="email">Email</label>
        <input formControlName="email" type="email" class="form-control bg-dark text-light"
            [class.is-invalid]="form.get('email')?.hasError('required') && form.get('email')?.touched || form.get('email')?.hasError('invalidEmail')"
            placeholder="Ingrese Email" id="email" maxlength="40">
            <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" class="invalid-feedback">El campo email es requerido</div>
            <div *ngIf="form.get('email')?.hasError('invalidEmail')" class="invalid-feedback">El formato del email no es válido</div>
    </div>

    
    <div class="col-md-12">
        <div class="row">
            
    <div class="col-md-6">
        <label class="form-label label-text text-light" for="password">Contraseña</label>
        <input formControlName="password" type="password" class="form-control bg-dark text-light"
            [class.is-invalid]="form.get('password')?.hasError('required') && form.get('password')?.touched"
            placeholder="Ingrese Contraseña" id="password" maxlength="16">
        <div class="invalid-feedback">El campo contraseña es requerido</div>
    </div>



    <div class="col-md-6">
        <label class="form-label label-text text-light" for="password_2">Repita Contraseña</label>
        <input formControlName="password_2" type="password" class="form-control bg-dark text-light"
            [class.is-invalid]="(form.get('password_2')?.hasError('required') && form.get('password_2')?.touched) || (form.hasError('passwordMismatch')  && form.get('password_2')?.touched)"
            placeholder="Ingrese Contraseña" id="password_2" maxlength="16">
        <div class="invalid-feedback">El campo contraseña es requerido</div>

        <div *ngIf="form.hasError('passwordMismatch') && form.get('password_2')?.touched" class="invalid-feedback">
            Las contraseñas no coinciden
        </div>
    </div>
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-between text-center">
        <div>
            <button type="button" class="btn btn-danger" routerLink="/personal">Cancelar</button>
         
        </div>

        <div>
            <button [disabled]="form.invalid"  type="submit" class="btn btn-primary">Aceptar</button>

        </div>


    </div>

</form>

