<br>
<br>
<br>

<div *ngIf="!modal" class="container">

   <div class="input-group mb-3">
      <button class="btn btn-primary" (click)="abrirModalFD()">Fecha desde</button>
      <input class="form-group text-center bg-dark text-light" type="text" value="{{fechaDesdeFormateada}}">

      <button class="btn btn-primary" (click)="abrirModalFH()">Fecha hasta</button>
      <input class="form-group text-center bg-dark text-light" type="text" value="{{fechaHastaFormateada}}">

      <button class="btn btn-primary" (click)="getTurnosByFecha()">Buscar</button>
      <button class="btn btn-primary" (click)="getAllTurnos()">Ver todos</button>
      <button class="btn btn-primary" (click)="getTurnosToday()">Hoy</button>
      <button class="btn btn-primary" (click)="getTurnosTomorrow()">Mañana</button>
   </div>


   <div class="container">
      <div class="row">
         <div class="col-12 col-md-6 col-lg-4 mt-5" *ngFor="let turno of listTurno">
            <div class="card bg-dark">
               <div class="card-body">
                  <p class="card-text text-light fs-5">Turno nro: {{turno.id}}</p>
                  <p class="card-text text-light fs-5">Paciente: {{turno.paciente?.nombre}} {{turno.paciente?.apellido}}</p>
                  <p class="card-text text-light fs-5">Estado: {{turno.estado}}</p>
                  <p class="card-text text-light fs-5">Fecha: {{turno.fechaLocal}}</p>
                  <p class="card-text text-light fs-5">Hora: {{turno.hora}}</p>
                  <p class="card-text text-light fs-5">Observaciones:</p>
                  <p class="card-text text-light fs-5">{{turno.observaciones}}</p>

                 
                 
               </div>
               <div class="card-footer text-center">
                  <button class="btn btn-primary" (click)="abrirModal(turno.id!)">Editar</button>

               </div>
            </div>


         </div>
      </div>

   </div>




</div>

<!-- ------------------------------ MODAL FECHA DESDE ----------------------------------------- -->

<div class="modal" id="modalFechaDesde" tabindex="-1" aria-labelledby="modalFDLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="modalFDLabel">Seleccionar Fecha Desde</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body text-center">
 
         <ngb-datepicker (dateSelect)="seleccionarFechaDesde($event)"></ngb-datepicker>
       </div>
       <div class="modal-footer d-flex justify-content-between">
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Aceptar</button>
       
       </div>
     </div>
   </div>
 </div>
<!-- ------------------------------------- MODAL FECHA HASTA ----------------------------------------------- -->
 <div class="modal" id="modalFechaHasta" tabindex="-1" aria-labelledby="modalFDLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="modalFDLabel">Seleccionar Fecha Desde</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body text-center">
     
         <ngb-datepicker (dateSelect)="seleccionarFechaHasta($event)"></ngb-datepicker>
       </div>
       <div class="modal-footer d-flex justify-content-between">
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Aceptar</button>
       
       </div>
     </div>
   </div>
 </div>




<app-edit-modal [idTurno]="idTurnoModal" *ngIf="modal" (cerrarModal)="cerrarModal()"></app-edit-modal>