
#carousel-inner {
    max-height: 39rem;
}

/* ------------------------------- SERVICIOS ---------------------------------------- */

.card-border {
    border: solid 5px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover {
    transform: scale(1.05);
} 

.card .img-fit {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card {
    height: 100%;
}

.btn-profesional{
    width: 300px;
}


/* ------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }

    

    .card .img-fit {
        aspect-ratio: 1.45 / 1;
    }

    .btn-profesional{
        width: 200px;
    }
    



    
}

@media(max-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .btn-profesional{
        width: 150px;
    }

  
}




