<app-progress-bar *ngIf="loading"></app-progress-bar>

<div class="div-homeAdmin" *ngIf="homeAdmin">
    <div class="div-buttons">
        <a class="a-button" href="" routerLink="">Turnos</a>
        <a class="a-button" href="" routerLink="/personal">Personal</a>
        <a class="a-button" href="" routerLink="/profesional">Profesionales</a>
        <a class="a-button" href="" routerLink="/obraSocial">Obras Sociales</a>
        <a class="a-button" href="" routerLink="/horario">Horarios</a>
        <a class="a-button" href="" routerLink="/especialidad">Especialidades</a>
        <a class="a-button" href="" routerLink="/informes">Informes</a>


    </div>


</div>

<div class="div-homeAdmin" *ngIf="homeProfesional">
    <div class="div-buttons">
        <a class="a-button" href="" routerLink="/profesional/mis-turnos">Mis Turnos</a>
        <a class="a-button" href="" routerLink="/personal">Mi Perfil</a>
        <a class="a-button" href="" routerLink="/profesional/informes">Infomes</a>

    </div>
</div>

<div *ngIf="!homeAdmin and !homeProfesioal">
   <button routerLink="/turno">Turnos online</button>
   <button routerLink="/mis-turnos">Mis turnos</button>
   <button routerLink="/mi-perfil">Mi perfil</button>

</div>
