.title {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

}

#buscador{
    max-width: 500px;
   }

#buscador::placeholder {
    color: #fff;
    opacity: 0.2;
}

@media (max-width: 786px){
    .btn-respon{
        margin-bottom: 10px;
    }
}

@media (max-width: 576px){
    .btn-respon{
        margin-bottom: 10px;
    }
}