<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-3">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">Iniciar Sesion</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="login()">


                    <div class="form-group">
                        <label class="col-form-label mt-4" for="email">Email</label>
                        <input formControlName="email" type="text" class="form-control" [class.is-invalid]="form.get('email')?.hasError('required') && form.get('email')?.touched" placeholder="Ingrese Email" id="email" maxlength="40">
                        <div class="invalid-feedback">El campo email es requerido</div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="password">Contraseña</label>
                        <input formControlName="password" type="password" class="form-control" [class.is-invalid]="form.get('password')?.hasError('required') && form.get('password')?.touched" placeholder="Ingrese Contraseña" id="password" maxlength="16">
                        <div class="invalid-feedback">El campo contraseña es requerido</div>
                    </div>


                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-danger" routerLink="/">Cancelar</button>
                            <!-- El button se deshabilita cuando el formulario es invalido, es decir cuando falta completar algun campo -->
                        </div>

                        <div class="col-lg-6">
                            <button [disabled]="form.invalid"  type="submit" class="btn btn-primary">Aceptar</button>

                        </div>

                        <a href="/signIn">Registrarse</a>


                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

