<nav class="navbar navbar-expand-lg bg-dark navbar-ligth fixed-top" id="menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="">
      <span class="text-primary fs-5 fw-bold"> Clinica Rosa</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="homePaciente" class="nav-link active" routerLink="/mis-turnos">Mis Turnos
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="homePaciente" class="nav-link active" routerLink="/mi-perfil">Mi perfil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

      </ul>
      <div>
        <ul class="navbar-nav me-auto">
          <li class="nav-item ms-1">
            <a *ngIf="!homeAdmin && !homeProfesional" class="btn btn-primary" routerLink="/turno">Turnos Online</a>
          </li> 

          <li class="nav-item ms-1">
            <a *ngIf="login" class="nav-link active" routerLink="/mi-perfil">Bienvenido {{user.nombre}} {{user.apellido}}!</a>
          </li>
          <li class="nav-item ms-1">
            <a *ngIf="login" class="btn btn-outline-danger" href="" (click)="logout()">Salir</a>

          </li>

          <li class="nav-item ms-1">
            <a class="btn btn-outline-primary" *ngIf="!login" routerLink="/login">Iniciar Sesion</a>
          </li>

        </ul>


      </div>
    </div>
  </div>
</nav>