
#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  #menu form > button{
      font-size: 18px;
      font-weight: bold;
  }


  @media (max-width: 768px){
    #boton-to {
        margin-bottom: 10px;
    }
  }

  @media (max-width: 576px){
        #boton-to {
            margin-bottom: 10px;
        }
  }

