<app-progress-bar *ngIf="loading"></app-progress-bar>


        
                <form class="row g-3 mx-5 my-5" [formGroup]="form" (ngSubmit)="update()">

                   
                        <div class="col-md-6" [class.has-danger]="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                            <label class="form-label label-text" for="nombre">Nombre</label>
                            <input formControlName="nombre" type="text" class="form-control bg-dark text-light fs-5" [class.is-invalid]="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched" placeholder="Ingrese nombre" id="nombre" maxlength="20">
                            <div class="invalid-feedback">El campo nombre es requerido</div>
                        </div>
    
                        <div class="col-md-6">
                            <label class="form-label label-text" for="nombre">Apellido</label>
                            <input formControlName="apellido" type="text" class="form-control bg-dark text-light fs-5" [class.is-invalid]="form.get('apellido')?.hasError('required') && form.get('apellido')?.touched" placeholder="Ingrese apellido" id="apellido" maxlength="20">
                            <div class="invalid-feedback">El campo apellido es requerido</div>
                        </div>
                  
                    
                

                    <div class="col-12">
                        <label class="form-label label-text" for="dni">Dni</label>
                        <input formControlName="dni" type="text" class="form-control bg-dark text-light fs-5" [class.is-invalid]="form.get('dni')?.hasError('required') && form.get('dni')?.touched" placeholder="Ingrese dni" id="dni" maxlength="10">
                        <div class="invalid-feedback">El campo dni es requerido</div>
                    </div>

                    <div class="col-12">
                        <label class="form-label label-text" for="telefono">Telefono</label>
                        <input formControlName="telefono" type="text" class="form-control bg-dark text-light fs-5" placeholder="Ingrese telefono" id="telefono" maxlength="15">
                        
                    </div>
                    

                    <div class="col-md-6">
                        <label class="form-label label-text" for="password">Contraseña</label>
                        <input formControlName="password" type="password" class="form-control bg-dark text-light fs-5" [class.is-invalid]="form.get('password')?.hasError('required') && form.get('password')?.touched" placeholder="Ingrese Contraseña" id="password" maxlength="16">
                        <div class="invalid-feedback">El campo contraseña es requerido</div>
                    </div>

                  

                    <div class="col-md-6">
                        <label class="form-label label-text" for="password_2">Repita Contraseña</label>
                        <input formControlName="password_2" type="password" class="form-control bg-dark text-light fs-5" [class.is-invalid]="(form.get('password_2')?.hasError('required') && form.get('password_2')?.touched) || (form.hasError('passwordMismatch')  && form.get('password_2')?.touched)" placeholder="Ingrese Contraseña" id="password_2" maxlength="16">
                        <div class="invalid-feedback">El campo contraseña es requerido</div>

                        <span class="fs-6 invalid-span" *ngIf="form.hasError('passwordMismatch') && form.get('password_2')?.touched">
                            Las contraseñas no coinciden
                       </span>
                    </div>

                    <div class="col-md-6">
                        <label for="obraSocial" class="form-label label-text">Seleccione Obra social</label>
                        <select formControlName="obraSocial" class="form-select bg-dark text-light fs-5" [class.is-invalid]="form.get('obraSocial')?.hasError('required') && form.get('obraSocial')?.touched" id="obraSocial">
                           <option *ngFor="let obraSocial of listObraSocial" [value]="obraSocial.id">{{obraSocial.nombre}}</option>
                        </select>
                        <div class="invalid-feedback">El campo obra social es requerido</div>
                      </div>

                    <div class="col-md-6">
                        <label class="form-label label-text" for="nroAfiliado">Ingrese nro de afiliado</label>
                        <input [attr.disabled]="isNroAfiliadoDisabled() ? true : null" formControlName="nroAfiliado" type="text" class="form-control bg-dark text-light fs-5" [class.is-invalid]="form.get('nroAfiliado')?.hasError('required') && form.get('nroAfiliado')?.touched" placeholder="Ingrese Nro de Afiliado" id="nroAfiliado" maxlength="20">
                        <div class="invalid-feedback">El campo nro Afiliado es requerido</div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="button" class="btn btn-danger" routerLink="">Cancelar</button>
                            <!-- El button se deshabilita cuando el formulario es invalido, es decir cuando falta completar algun campo -->
                        </div>

                        <div>
                            <button [disabled]="form.invalid"  type="submit" class="btn btn-primary">Aceptar</button>

                        </div>


                    </div>

                </form>



