<div *ngIf="!modal" class="container">

    <div class="container-buscador">
       <button (click)="toggleCalendarioFechaDesde()">Fecha desde</button>
       <input type="text" value="{{fechaDesdeFormateada}}">
 
       <button (click)="toggleCalendarioFechaHasta()">Fecha hasta</button>
       <input type="text" value="{{fechaHastaFormateada}}">
 
       <button (click)="getTurnosByFecha()">Buscar</button>
       <button (click)="getAllTurnos()">Ver todos</button>
       <button (click)="getTurnosToday()">Hoy</button>
       <button (click)="getTurnosTomorrow()">Mañana</button>
       <input class="form-control" type="text" id="buscador" placeholder="Buscar turnos(nombre, apellido, dni o email)..." [(ngModel)]="searchText">
    </div>
 
    <div class="calendario" *ngIf="mostrarCalendarioFD">
       <!-- Calendario -->
       <ngb-datepicker #dp  (dateSelect)="seleccionarFechaDesde($event)"></ngb-datepicker>
 
 
    </div>
 
    <div class="calendario" *ngIf="mostrarCalendarioFH">
       <!-- Calendario -->
       <ngb-datepicker #dp (dateSelect)="seleccionarFechaHasta($event)"></ngb-datepicker>
 
 
    </div>
 
 
    <div class="container-cards">
 
 
       <div class="card" *ngFor="let item of listTurno | filter:searchText : ['estado', 'paciente.nombre', 'paciente.apellido','profesional.nombre', 'profesional.apellido']">
 
          <div class="content">
 
             <div class="box">
                <label for="">Turno nro:</label>
                <span>{{item.id}}</span>
 
             </div>
             <div class="box">
                <label for="">Paciente:</label>
                <span>{{item.paciente?.nombre}} {{item.paciente?.apellido}}</span>
 
             </div>
 
             <div class="box">
                <label for="">Estado:</label>
                <span>{{item.estado}}</span>
 
             </div>
             <div class="box">
                <label for="">Profesional:</label>
                <span>{{item.profesional?.nombre}} {{item.profesional?.apellido}}</span>
 
             </div>
             <div class="box">
                <label for="">Especialidad:</label>
                <span>{{item.especialidad?.nombre}}</span>
 
             </div>
 
             <div class="box">
                <label for="">Fecha:</label>
                <span>{{item.fechaLocal}}</span>
                <span>{{item.hora}}</span>
 
             </div>
 
 
             <div class="box-observaciones">
 
                <span>{{item.observaciones}}</span>
             </div>
 
 
          </div>
          <div class="footer">
             <button (click)="abrirModal(item.id!)">Editar</button>
 
          </div>
 
       </div>
 
    </div>
 
 </div>
 
 
 <app-edit-modal [idTurno]="idTurnoModal" *ngIf="modal" (cerrarModal)="cerrarModal()"></app-edit-modal>
